
body
{
    background-color: #347EA3;
}

#buttons
{
    display: flex;  
    justify-content: center;
}


#numbers
{
    display: flex;
    flex-direction: column-reverse;
}

div#calcparent
{
    margin-left: 40%;
    margin-top: 5%;
    border: solid 2px black;
    border-radius: 10px;
    width: 450px;
    height: 600px;
}

#calcparent
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    background-color: #33967d;
}

#numberdisplay
{
    position: relative;
    margin-top: 10%;
    margin-bottom: 90%;
    width: 400px;
    height: 100px;
    min-height: 50px;
    line-height: 100%;
    text-align: center;
    font-size: 50px;
    border: solid 2px black;
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
    align-self: center;
}


/* Make adjustments to this rule to account for larger style buttons */
#buttons
{
    position: relative;
    top: -50%;
}

.midtoprow > button, .midrow > button, .midbottomrow > button, button.bottomrow, .toprow > button, #operations > button
{
    position: relative;
    background-color: #5fcaaf;
    border: solid 2px black;
    border-radius: 10px;
    transform: scale(1);
    justify-content: space-around;

}


